

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1cm;
    padding-bottom: 10px;
    background-color: lightsteelblue;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2% auto 2%;
    align-items: center;
}

header {
    align-self: start;
    background-color: rgba(0, 0, 0, 0.1);
}

footer {
    align-self: end;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Centering the headers */

h1, h2 {
    text-align: center;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    padding-top: .5em;
}

ol, ul, li {
    list-style-position: inside;
    margin-top: .1em;
    margin-bottom: .1em;
    margin-left: .2em;
    margin-right: .2em;
}

p {
    padding: 5pt 0pt 5pt 0pt;
    position: relative;
}

img, video {
    border-style: solid;
    border-color: black;
    border-width: .2em;
    border-radius: 2%;
    margin: auto;
    display: block;
    position: static;
    max-width: 80%;
    min-width: 30%;
}

video {
    width: 59vmin;
}

.seclink {
    font-size: 2em;
    margin: .1em .1em .1em .5em;
}

.secspan {
    display: flex;
    flex-direction: column;
}

label.blue {
    color: hsl(240, 100%, 50%);
}

label.red {
    color: #F00;
}

#me {
    text-align: center;
}

input[type="text"] {
    width: 15em;
}

input[type="radio"] {
    display: inline-block;
    vertical-align: top;
}

input+label {
    display: inline-block;
    vertical-align: top;
    margin-right: 3%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

a:visited {
    color: rgba(1, 1, 160, 0.6);
}

a:active {
    color: darkred;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

fieldset>div {
    display: flex;
    width: 10em;
}

fieldset label {
    font-size: 1.2em;
}

fieldset>input {
    height: 2em;
}

picture~p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 1200px) {
    html {
        background-color: white;
    }
    .seclink, h1, h2, h3 {
        font-size: 1em;
    }
}